@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    transition-duration: 120ms;
    transition-timing-function: ease-out;
}

button, input, select, textarea {
    will-change: transform;
}
